body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: #0b1e3c;
    color: white;
}

/* HERO SECTION */
.hero {
    width: 100%;
    height: 100vh;
    background:
        linear-gradient(
            rgba(75,103,151,0.85),
            rgba(96,123,170,0.85)
        ),
        url("images/Object.png") center/cover no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px;
}

.hero h1 {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.sub-links {
    display: flex;
    gap: 25px;
    font-size: 1rem;
    opacity: 0.9;
    margin-bottom: 35px;
    letter-spacing: 1px;
}

.hero button {
    padding: 14px 34px;
    border: none;
    border-radius: 40px;
    background: #D89BE4;
    font-size: 1rem;
    color: white;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 40px;
}

.learn-text {
    font-size: 1.3rem;
    margin-bottom: 60px;
    color: #CFA7F5;
}

/* PROFILES */
.profile-row {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 30px;
}

.profile {
    text-align: center;
}

.profile img {
    width: 95px;
    height: 95px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #fff;
}

.profile h3 {
    margin-top: 12px;
    font-size: 1rem;
}

.profile p {
    opacity: 0.8;
    font-size: 0.85rem;
    margin-top: -5px;
}


