body{
    display:flex;
    flex-direction: column;
    height:100vh;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

main{
    display:flex;
    flex-direction:row;
    flex:auto;
}
.logo {
    font-size: 2rem;
    margin-right: 1rem;
}

article{
    flex:2;
    overflow-y:auto;
    padding: 1rem;
    background-color:#fff8dc;
    border:1px solid #ccc;
    border-radius: 8px;
    padding:1rem;
}
aside{
    flex:1;
    overflow-y:auto;
    padding:1rem;
}
header, footer{
    padding: 1rem;
}
header{
    background: color #4caf50;
    color:white;
    padding:1rem;
}

footer{
    background-color: #333;
     color:white;
    text-align: center;
    padding:0.75rem;
}